*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
body{
    overflow: hidden;
}

.hero{
	height: 100vh;
	width: 100%;
	background: radial-gradient(#8C52FF,20%, #8C52FF);
	background-size: cover;
	background-position: center;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
    padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	
        color: #f9004d;
        transition: .4s;
    
}
.btn{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
    border: 1px solid #f5dca8;
    background: transparent;
    color: white;
    transition: .4s;
}
.content{
    padding-top: 170px;
}
.content .main-text{
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
    padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
.content .main-text h6{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}
.content .main-text h1{
    font-size: 100px;
    line-height: 1;
    color: white;
    margin: 0px 0px 45px;
    font-family: 'permanent marker', cursive;
}
.content .main-text h3{
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.content .main-text p{
    max-width: 100%;
    width: 480px;
    color: white;
    line-height: 1.8;
    font-size: 15px;
    margin-bottom: 50px;
}
.content .main-text a{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: #f9004d;
   
    padding: 9px 25px;
    line-height: 1.4;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500px;
}
.content .main-text a:hover{
    transform: scale(1.2);
    border: 1px solid #f5dca8;
    background: transparent;
    color: white;
    transition: .4s;
}
.content .main-text a.cta{
    border: 1px solid #f5dca8;
    color: white;
    background: transparent;
    margin-left:20px ;
}
.content .main-text a.cta i{
    margin-right: 12px;
}
.content .main-text a.cta:hover{
    color:white;
    background: #000000;
    border: 1px solid white;
    transition: .4s;

}
.imges{
    position: absolute;
    width: 100%;
    height: 85%;
    bottom: 0;
    right: 0;
    text-align: right;
}
.imges img{
    height: 100%;
}